/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

/* Background */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #bfc4dc, #9b85b0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-container {
  background: #fff;
  padding: 32px;
  width: 100%;
  max-width: 380px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

/* Heading */
.login-container h1 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
  color: #4f46e5;
  /* text-decoration: underline; */
}


/* Inputs */
.input-group {
  margin-bottom: 16px;
  color: black;
  text-decoration: solid;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  color: #121111;
}

.input-group input {
  width: 100%;
  padding: 11px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #4f46e5;
}

/* Button */
button {
  width: 100%;
  margin-top: 8px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Footer */
.footer-text {
  margin-top: 18px;
  text-align: center;
  font-size: 13px;
  color: #080808;
}
